!!!
%html
  %head
    %meta{:charset => "utf-8"}
    
    %link{:rel => "stylesheet", :type => "text/css", :href => "reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "screen.css"}
    
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.4.4.min.js"}
    
    %title Playofffs
  %body
    .container
      %p{:id => "welcome"} welcome to the
      %h1
        %a{:href => "/"} Playofffs
      = yield